:root {
    --Softblue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --Verydarkblue: hsl(217, 54%, 11%);
    --VerydarkbluecardBG: hsl(216, 50%, 16%);
    --Verydarkblueline: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}

body {
    font-family: 'Outfit', sans-serif;
}

.cyanHover:hover {
    color: var(--Cyan);
    cursor: pointer;
}

.imgHover:hover {
    background-image: url(images/icon-view.svg);
    background-color: var(--Cyan);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
} 

